<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <title>Employee - home</title>

    <style>
        body {
            padding-top: 50px;
        }
        .special {
            padding-top:50px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Home</h1>
        <nav>
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/createEmployee}">Add Employee</a>
        </nav>
    </header>
    <main>
        <p>Welcome !</p>

        <section>
            <h2 class="h2">Liste des employées</h2>
            <table>
                <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${employees.empty}">
                    <td colspan="3">Aucun employée en base de données</td>
                </tr>
                <tr th:each="employee: ${employees}">
                    <td><span th:text="${employee.firstName}"> Prénom </span></td>
                    <td><span th:text="${employee.lastName}"> Nom </span></td>
                    <td>
                        <a th:href="@{/updateEmployee/{id}(id=${employee.id})}">Modifier</a>
                        <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Supprimer</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>

    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
</html>